

.texto{

  font-size: 40px;
padding-top: 140px;
text-align: justify;
color: blueviolet;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.principal{

display: flex;

}

body{


background-image: url ("fondoo.jpg.jpg")

}
 
.titulo{

font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}






