

.texto{

  font-size: 40px;
padding-top: 140px;
text-align: justify;
color:rgb(0, 0, 0);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.principal{

display: flex;

}

body{


background-image: url(fhondo.jpg) 

}
 
.titulo{

font-size: 60px;
color:red
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}


.imag1{
  height: 500px;
  width: 500px;
  background-image: url("imag1.jpg");
  background-repeat: no-repeat;
  float: left;
}
  
}
.img2{
  height: 500px;
  width: 500px;
  background-image: url("imag2.jpg");
  background-repeat: no-repeat;
  float: left;
}
.imgtec3{
  height: 150px;
  width: 200px;
  background-image: url("imag3.jpg");
  background-repeat: no-repeat;
  float: right;

}