.contenedor{  

    width: 100%;
    height: 12000px;
    background-color: aqua;

} 


.encabezado{

    width: 100%;
    height: 200px;
    background-color: rgb(43, 226, 58);

}


.sociales{
 
    width: 100%;
    height: 400px;
    background-color: brown;

}


.ingles{

width: 100%;
height: 400px;
background-color: blue;

}
  

.tecnologia{

   width: 100%;
   height: 400px;
background-color: rgb(250, 215, 231);



}