.contenedor{  

    width: 100%;
    height: 12000px;
    background-color: yellow;

} 


.encabezado{

    width: 100%;
    height: 200px;
    background-color: rgb(43, 128, 226);

}


.sociales{
 
    width: 100%;
    height: 400px;
    background-color:rgb(42, 130, 165);

}


.ingles{

width: 100%;
height: 400px;
background-color: rgb(255, 0, 149);

}
  

.tecnologia{

   width: 100%;
   height: 400px;
background-color: rgb(221, 215, 250);



} 